# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# From the NVDA addon template
addon/doc/*.css
addon/doc/en/
*_docHandler.py
*.html
*.ini
*.mo
*.pot
*.nvda-addon
.sconsign.dblite
